<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    
<form th:fragment="search-form" class="d-flex align-items-end gap-2" onsubmit="redirectToLink(event)">
    <div class="flex-grow-1">
        <label for="search" class="form-label">Cerca</label>
        <input type="search" class="form-control" id="search" placeholder="Inserisci la tua ricerca...">
    </div>

    <div>
        <button class="btn btn-primary" type="submit">
            Cerca
        </button>
    </div>
</form>

</body>
</html>